body {
	font-family:Lato;
	padding:100px;
	border-left: 10px solid #DDD;
	margin-left: 0;
}

a {
	color: #D00;
	text-decoration: none;
}

header nav a {
	color: #EEE;
	font-size: 20pt;
	margin: 20px;
	border-bottom: 1px solid #EEE;

}
h1{
	font-weight: 300;
	font-size: 40pt;
}

h2 {
	font-weight: 300;
	font-size: 20pt;

}

footer nav a {
	color:#D00;
	

}

a:hover{ 
	color:#A00;

}

