body {
	font-family: "Exo 2";
	font-weight: 200;
	font-size: 12pt;
	margin: 0px;
	padding-top: 0px;
	padding-left:100px;
	padding-right:150px;
	padding-bottom: 10px;
	border-left: 30px solid #000;	
	border-right: 30px solid #000;
	line-height: 18pt;
}

img {
	height:350px;
	float:left;
	margin: 0px;
	padding: 30px 50px 30px 0px;
}

h1 {
	font-family: Gruppo;
	font-weight: 100;
	font-size: 50px;
	margin: 0px 0px 20px 0px;
	padding-top:40px;

}

h2 {
	font-family: Gruppo;
	font-size: 30pt;
	margin:0px;
	padding:0px;
}

h2 a {
	font-family: Gruppo;
	color: rgb(200,200,200);
	font-size: 17pt;
	margin:0px;
	padding:0px 0px 10px 0px;
	text-decoration: none;
	border-bottom: 1px dotted rgb(200,200,200);
}

h3 {
	margin-top:3em;
	font-family: Gruppo;
	font-size:20pt;
}

.header {
padding-left: 355px;
line-height: 18pt; 
}

.footer {
	font-size: 40px;
	color: rgb(200,200,200);
	font-family: Rajdhani;
	background-color: rgb(0,0,0);
	line-height: 40pt;
}

hr { 
	background-color: rgb(200,200,200); height: 1px; border: 0; 
}
